html{
     
   margin:0 auto;
   overflow-y: hidden;
}
body{ display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 28%, 7%);
}

h1{
    color: rgb(238, 220, 17);
    position: relative;
    right: 10px;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#jogo{
    margin-top:5px;
    width:603px;
    height:600px;
    border:solid 3px rgb(255, 234, 0);
}
 
.linha{
    height:199px;
    border-bottom:solid 1px rgb(255, 238, 0);
}
 
.casa{
    width:200px;
    height:100%;
    border-right:solid 1px rgb(255, 255, 0);
    float:left;
}
 
 p{ color:white;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    font-size: 80px;
}
.casa{
    font-size: 80px;
    padding: 7px;
    font-weight: 600;
    color:white;
    text-align: center;
}
input{  height: 30px;
    position: relative;
    top:50px;
    right:160px;
    color:black;
    width: 100px; 
}
 #jogador1{
    font-weight: 600;
    background-color: black;
    color: yellow;
    border: 1px solid rgb(255, 225, 0);
 }
  